#navbar {
  display: flex;
  min-height: 10vh;
  width: 100%;
  background-color: aqua;
  justify-content: space-around;
  align-items: center;
}

#navbar a {
  text-decoration: none;
}

#navbar li {
  list-style: none;
  font-size: 2rem;
  color: navy;
}
